<nav>
<div class="nav-wrapper" style="display:flex; justify-content:center;">
  <ul id="nav-mobile" class="hide-on-med-and-down">
    <li class="px-2"><a href="/">Home</a></li>
    <li class="px-2"><a href="/about">About</a></li>
    <li class="px-2"><a href="/contact">Contact</a></li>
  </ul>
</div>
</nav>